body {
  background-color: black;
}

h1 {
  color: white
}

.hal1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: beige;
}

.hal3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: blueviolet;
}

.hal2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: brown;
}